
.main {
    display: flex;
    justify-content: center;
}

.spotify {
    display: flex;
    flex-direction: column;
    align-items: center;
}





.lableContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    /* justify-content: center; */
}

.lable {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}




