
.spotify {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.jaeContact {
}

.keejayContact {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.current {
    margin: 0px;
    /* background-color: #dee2ff; */
    background-color: white;
    /* background-color: #feeafa; */
    border-radius: 20px;
    height: 30px;
    width: 150px;

}

.last {
    margin: 0px;
    /* background-color: #dee2ff; */
    background-color: white;
    /* background-color: #feeafa; */
    border-radius: 20px;    
    height: 30px;
    width: 150px;
}

.lable {
    margin-bottom: 0px;
}