
.spotify {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.jaeContact {
}

.keejayContact {

}

.current {
    margin: 0px;
    background-color: #dee2ff;
    border-radius: 20px;
    height: 50px;
    width: 150px;

}

.last {
    margin: 0px;
    background-color: #dee2ff;
    border-radius: 20px;    
    height: 50px;
    width: 150px;
}

.lable {
    margin-bottom: 0px;
}